.latest-card {
    position: relative;
    padding: 25px 15px;
    margin:0;
    height: 200px;
    text-align: left;
}

.bottom {
    margin: 2px;
}

.name {
    padding: 2px;
    margin: auto;
}

.info {
    color: #1a7e76;
}